.App-Header{
  background-color: rgb(75, 122, 120);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.App-Header li{
    display: inline-block;
    padding: 5px;
    font-size: 20px;
}